{% extends 'master.twig' %}

{% block title %}Genus {{ name }}{% endblock %}

{% block body %}
    <h1>The genus {{ name }}</h1>

    <ul>
        {% for value in values %}
            <li>{{ value }}</li>
        {% endfor %}
    </ul>
{% endblock %}